.about {
	width: 100%;
	min-height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

    padding-top: 52px;
    /* margin-top: -52px; margin removed due to nav highlighting issue */
}
.oneline-intro { text-align: center;}

.sub-description {
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	top: 5%;
}