.bio {
	width: 100%;
	min-height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    /* padding-top: 52px; before custom nav */
	padding-top: 120px;
    /* margin-top: -52px; margin removed due to nav highlighting issue */
}

.sub-description {
	max-width: 90%;
	margin: 0 auto;
	position: relative;
	top: 5%;
}