.contact-container {
	max-width: 100%;
	min-height: 100%;
	position: relative;
	top: 40%;
}
.contact {
	width: 100%;
	height: 100%;

	position: relative;
	top: 50px;
}
#contact {
	padding-top: 52px;
    margin-top: -52px;
}
.contact-heading, .chat-heading, .form-heading, .heading-success { text-align: center; }
.primary-email {
	color: gray;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.social-media {
	width: 300px;
	height: 150px;
	margin: 0 auto;
}
.icons {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;

	position: relative;
	top: 10%;
}
.form-container {
	width: 450px;
	height: 750px;
	margin: 0 auto;
}
.submit-btn, .back-btn {
	position: relative;
	left: 50%;
	top: 10px;
	transform: translateX(-50%);
}
#dark .submit-btn {
	background-color: #2f3338 !important;
	color: #eee;
}
#dark .back-btn {
	background-color: #2f3338 !important;
	color: #eee;
}
.form-group { padding-bottom: 10px; }

#dark .form-control {
	background-color: #212529;
	color: #EEE;
	border-color: rgb(80, 80, 80);
	/* border: none; */
}

@media only screen and (max-width: 485px) {
	.form-container {
		width: 90%;
	}
}
#loading {
	display: none;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}