.contact-container {
	max-width: 100%;
	min-height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact {
	width: 100%;
	height: 100%;
}
#contact {
	padding-top: 95px;
    /* margin-top: -52px; margin removed due to nav highlighting issue*/
}
.contact-heading, .chat-heading, .form-heading, .heading-success { text-align: center; }

.primary-email {
	color: gray;
}
.social-media {
	width: 300px;
	height: 150px;
	margin: 0 auto;
}
.icons {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	padding-top: 10px;
	/* position: relative;
	top: 10%; */
}
.form-container {
	width: 450px;
	height: auto;
	margin: 0 auto;
	text-align: left;
}
.form {
	display: flex;
	flex-direction: column;
}
.form-msg {
	text-align: center;
}
/* .submit-btn, */
.back-btn {
	margin-top: 10px;
}
#dark .submit-btn {
	background-color: #2f3338 !important;
	color: #eee;
}
#dark .back-btn {
	background-color: #2f3338 !important;
	color: #eee;
}
.form-group { padding-bottom: 10px; }

#dark .form-control {
	background-color: #212529;
	color: #EEE;
	border-color: rgb(80, 80, 80);
	/* border: none; */
}
@media only screen and (max-width: 768px) {
	.chat-heading {
		padding-top: 10px;
	}
}
@media only screen and (max-width: 485px) {
	.form-container {
		width: 90%;
	}
}
@media only screen and (max-width: 576px) {
	.contact-container {
		position: relative;
		top: 10%;	
	}
}
#loading {
	border: none;
	display: none;
	margin: 0 auto;
}