#projects {
	padding-top: 52px;
    /* margin-top: -52px; margin removed due to nav highlighting issue */
}
.projects-container {
	max-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.projects-subcontainer {
	width: auto;
	height: auto;
}
.projects-heading { text-align: center; padding-bottom: 10px;}
.projects {
	max-width: 100%;
	min-height: 100%;
	text-decoration: none;
}
.p1, .p2, .p3 {
	width: 90%;
	padding-bottom: 20px;
	position: relative;
	left: 5%;
	overflow: hidden;
}
.link { text-decoration: none; }
h3 { display: inline; }
hr { width: 100%;}

@media only screen and (max-width: 576px) {
	#projects {
		padding-top: 60px;
	}
}