.projects-container {
	width: 100%;
	height: 100%;

	position: relative;
	top: 0px;
}
.projects-heading {
	text-align: center;
}
.projects {
	width: 100%;
	height: 100%;

	display: grid;
	align-content: start;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-row-gap: 50px;
}
.projects > .card {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	align-self: center;
	justify-self: center;
	position: relative;
	top: 50px;
}
@media only screen and (max-width: 1051px) {
	.projects-container, .projects{
		height: 200%;
	}
}
@media only screen and (max-width: 701px) {
	.projects-container, .projects {
		height: 250%;
	}
}
#projects {
	padding-top: 52px;
    margin-top: -52px;
}