.skills-container {
	width: 100%;
	min-height: 110%;
	position: relative;
	top: 20%;
}
.skills-heading { text-align: center; }

.skills {
	width: 100%;
	min-height: 110%;

	display: grid;
	align-content: start;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-row-gap: 50px;

	position: relative;
	top: 50px;
}
#skills {
	padding-top: 52px;
  margin-top: -52px;
}
ul {
  list-style: square outside none;
}
.skills > .card {
	border: none;
	align-self: start;
	justify-self: center;
}

@media only screen and (min-width: 1799px) {
	.skills {
		width: 80%;
		margin: 0 auto;
		position: relative;
		top: 100px;
	}
}
/*@media only screen and (min-width: 780px) and (max-height: 531px) {
	.skills-container { height: 140%; }
}
@media only screen and (min-width: 780px) and (max-height: 400px) {
	.skills-container { height: 180%; }
}



@media only screen and (max-width: 780px) and (max-height: 745px) {
	.skills-container { height: 125%; }	
}
@media only screen and (max-width: 780px) and (max-height: 616px) {
	.skills-container { height: 150%; }	
}
@media only screen and (max-width: 780px) and (max-height: 521px) {
	.skills-container { height: 170%; }	
}
@media only screen and (max-width: 780px) and (max-height: 464px) {
	.skills-container { height: 190%; }	
}
@media only screen and (max-width: 780px) and (max-height: 416px) {
	.skills-container { height: 210%; }	
}
@media only screen and (max-width: 780px) and (max-height: 380px) {
	.skills-container { height: 230%; }	
}
@media only screen and (max-width: 780px) and (max-height: 349px) {
	.skills-container { height: 250%; }	
}



@media only screen and (max-width: 519px) and (max-height: 840px) {
	.skills-container { height: 190%; }
}
@media only screen and (max-width: 519px) and (max-height: 761px) {
	.skills-container { height: 210%; }
}
@media only screen and (max-width: 519px) and (max-height: 691px) {
	.skills-container { height: 230%; }
}
@media only screen and (max-width: 519px) and (max-height: 635px) {
	.skills-container { height: 250%; }
}
@media only screen and (max-width: 519px) and (max-height: 587px) {
	.skills-container { height: 270%; }
}
@media only screen and (max-width: 519px) and (max-height: 547px) {
	.skills-container { height: 290%; }
}
@media only screen and (max-width: 519px) and (max-height: 509px) {
	.skills-container { height: 310%; }
}*/